Repository asfamilybank/vite-plugin-formatjs: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck

format:
  run: pnpm format:check

lint:
  run: pnpm lint

typecheck:
  run: pnpm typecheck

feat: 添加 FormatJS 插件配置和日志工具
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/core/config.ts
  src/core/extract.ts
  src/types.ts
  src/utils/logger.ts
Due: format, lint, typecheck

feat: 更新 FormatJS 插件功能和依赖
  README.md
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/core/config.ts
  src/core/extract.ts
  src/index.ts
  src/types.ts
  src/utils/logger.ts
Due: format, lint, typecheck

feat: 更新 ESLint 配置和日志工具
  .cursor/rules/vite-plugin-formatjs.mdc
  eslint.config.js
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src/utils/__tests__/logger.test.ts
  src/utils/__tests__/timer.test.ts
  src/utils/logger.ts
  src/utils/timer.ts
  tsconfig.json
  tsconfig.node.json
  tsconfig.test.json
  vitest.config.ts
Due: format, lint, typecheck

feat: 重构 FormatJS 插件配置和类型定义
  src/core/__tests__/config.test.ts
  src/core/config.ts
  src/core/types.ts
  tsconfig.node.json
Due: format, lint, typecheck

feat: 增强缓存管理功能和配置
  src/core/__tests__/config.test.ts
  src/core/config.ts
  src/utils/__tests__/cache.test.ts
  src/utils/cache.ts
  tsconfig.test.json
Due: format, lint, typecheck

feat: 更新提取消息功能和测试
  eslint.config.js
  src/core/__tests__/extract.test.ts
  src/core/extract.ts
Due: format, lint, typecheck

feat: 更新插件配置和功能
  eslint.config.js
  src/__tests__/plugin.test.ts
  src/core/__tests__/config.test.ts
  src/core/config.ts
  src/index.ts
  src/plugin.ts
  src/utils/__tests__/cache.test.ts
  src/utils/__tests__/logger.test.ts
  src/utils/cache.ts
  src/utils/constant.ts
  src/utils/logger.ts
Due: format, lint, typecheck

feat: 更新插件功能和配置
  src/__tests__/plugin.test.ts
  src/core/__tests__/compile.test.ts
  src/core/__tests__/config.test.ts
  src/core/__tests__/extract.test.ts
  src/core/compile.ts
  src/core/config.ts
  src/core/extract.ts
  src/core/types.ts
  src/plugin.ts
Due: format, lint, typecheck

feat: 更新插件功能和配置
  requirements.md
  src/__tests__/plugin.test.ts
  src/core/__tests__/compile.test.ts
  src/core/__tests__/config.test.ts
  src/core/__tests__/extract.test.ts
  src/core/compile.ts
  src/core/config.ts
  src/core/extract.ts
  src/core/types.ts
  src/index.ts
  src/plugin.ts
  src/utils/__tests__/cache.test.ts
  src/utils/__tests__/logger.test.ts
  src/utils/cache.ts
  src/utils/logger.ts
Due: format, lint, typecheck

feat: 重构和更新 vite-plugin-formatjs 插件
  package.json
  packages/plugin/.prettierrc
  packages/plugin/eslint.config.js
  packages/plugin/package.json
  packages/plugin/requirements.md
  packages/plugin/src/__tests__/plugin.test.ts
  packages/plugin/src/core/__tests__/compile.test.ts
  packages/plugin/src/core/__tests__/config.test.ts
  packages/plugin/src/core/__tests__/extract.test.ts
  packages/plugin/src/core/compile.ts
  packages/plugin/src/core/config.ts
  packages/plugin/src/core/extract.ts
  packages/plugin/src/core/types.ts
  packages/plugin/src/index.ts
  packages/plugin/src/plugin.ts
  packages/plugin/src/utils/__tests__/logger.test.ts
  packages/plugin/src/utils/__tests__/timer.test.ts
  packages/plugin/src/utils/constant.ts
  packages/plugin/src/utils/logger.ts
  packages/plugin/src/utils/timer.ts
  packages/plugin/tsconfig.build.json
  packages/plugin/tsconfig.json
  packages/plugin/tsconfig.node.json
  packages/plugin/tsconfig.test.json
  packages/plugin/tsup.config.ts
  packages/plugin/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/index.ts
Due: format, lint, typecheck

feat: 新增基础示例项目以展示 vite-plugin-formatjs 功能
  examples/basic/README.md
  examples/basic/index.html
  examples/basic/package.json
  examples/basic/src/App.css
  examples/basic/src/App.tsx
  examples/basic/src/components/Counter.tsx
  examples/basic/src/components/LanguageSwitcher.tsx
  examples/basic/src/i18n/compiled-lang/en.json
  examples/basic/src/i18n/index.ts
  examples/basic/src/i18n/lang/en.json
  examples/basic/src/main.tsx
  examples/basic/tsconfig.app.json
  examples/basic/tsconfig.json
  examples/basic/tsconfig.node.json
  examples/basic/vite.config.ts
  packages/plugin/src/__tests__/plugin.test.ts
  packages/plugin/src/core/__tests__/config.test.ts
  packages/plugin/src/core/__tests__/extract.test.ts
  packages/plugin/src/core/compile.ts
  packages/plugin/src/core/config.ts
  packages/plugin/src/core/extract.ts
  packages/plugin/src/index.ts
  packages/plugin/src/plugin.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, lint, typecheck

feat: 更新插件配置和示例
  examples/basic/src/App.tsx
  examples/basic/src/i18n/compiled-lang/en.json
  examples/basic/src/i18n/lang/en.json
  examples/basic/src/main.tsx
  examples/basic/vite.config.ts
  package.json
  packages/plugin/src/core/compile.ts
  packages/plugin/src/core/config.ts
  packages/plugin/src/core/extract.ts
  packages/plugin/src/core/index.ts
  packages/plugin/src/core/types.ts
  packages/plugin/src/plugin.ts
  packages/plugin/src/utils/index.ts
  packages/plugin/src/utils/logger.ts
  packages/plugin/src/utils/timer.ts
  packages/plugin/tsconfig.build.json
  packages/plugin/tsconfig.json
Due: format, lint, typecheck

feat: 优化插件配置和功能
  examples/basic/vite.config.ts
  packages/plugin/src/__tests__/plugin.test.ts
  packages/plugin/src/core/__tests__/compile.test.ts
  packages/plugin/src/core/__tests__/config.test.ts
  packages/plugin/src/core/__tests__/extract.test.ts
  packages/plugin/src/core/compile.ts
  packages/plugin/src/core/config.ts
  packages/plugin/src/core/extract.ts
  packages/plugin/src/core/types.ts
  packages/plugin/src/plugin.ts
  packages/plugin/src/utils/__tests__/logger.test.ts
  packages/plugin/src/utils/__tests__/timer.test.ts
Due: format, lint, typecheck

feat: 更新 README 文档和示例项目
  examples/basic/README.md
  packages/plugin/README.md
Due: format

feat: 重构插件消息提取逻辑和文件处理
  packages/plugin/src/core/compile.ts
  packages/plugin/src/core/extract.ts
  packages/plugin/src/plugin.ts
Due: format, lint, typecheck

feat: 更新国际化支持和消息文件处理
  examples/basic/src/i18n/compiled-lang/zh.json
  examples/basic/src/i18n/index.ts
  examples/basic/src/i18n/lang/zh.json
  packages/plugin/src/core/compile.ts
  packages/plugin/src/core/extract.ts
  packages/plugin/src/plugin.ts
Due: format, lint, typecheck

feat: 优化消息文件处理和配置验证
  packages/plugin/src/core/__tests__/compile.test.ts
  packages/plugin/src/core/__tests__/config.test.ts
  packages/plugin/src/core/__tests__/extract.test.ts
  packages/plugin/src/core/compile.ts
  packages/plugin/src/core/config.ts
  packages/plugin/src/utils/__tests__/constant.test.ts
  packages/plugin/src/utils/__tests__/logger.test.ts
  packages/plugin/src/utils/__tests__/timer.test.ts
Due: format, lint, typecheck

feat: 完善发布配置和流程
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CHANGELOG.md
  LICENSE
  package.json
  packages/plugin/.npmignore
  packages/plugin/LICENSE
  packages/plugin/package.json
  scripts/prepare-release.sh
Due: format

fix: 修复发布准备脚本中的 Git 状态检查
  scripts/prepare-release.sh
Due: none

docs: 添加发布指南文档
  RELEASE.md
Due: format

fix: 更新版本号至 0.0.0，确保与发布流程一致
  package.json
Due: format

feat: 调整发布策略为分阶段发布
  .github/workflows/lts-release.yml
  .github/workflows/release.yml
  CHANGELOG.md
  RELEASE.md
  packages/plugin/package.json
  scripts/prepare-release.sh
Due: format

fix: 修复 GitHub Actions 中 pnpm 安装顺序问题
  .github/workflows/ci.yml
  .github/workflows/lts-release.yml
  .github/workflows/release.yml
Due: none

chore: bump version to 0.0.1-alpha.1
  packages/plugin/package.json
Due: format

fix: 修复 GitHub Actions 权限配置，允许创建 Release
  .github/workflows/release.yml
Due: none

feat: 启用自动 npm 发布，推送标签时自动发布到 npm
  .github/workflows/release.yml
Due: none

chore: bump version to 0.0.1
  packages/plugin/package.json
Due: format

chore: 触发状态检查以更新可用检查列表
  README.md
Due: format

refactor: 删除冗余的 LTS Release 工作流，简化发布流程
  .github/workflows/lts-release.yml
  RELEASE.md
Due: format

ci: 减少测试，只保留 Node.js 18 测试以加快执行速度
  .github/workflows/ci.yml
Due: none

Develop (#2)
  .github/workflows/ci.yml
  .github/workflows/lts-release.yml
  RELEASE.md
Due: format

ci: 更新 GitHub Release 动作至 v2 以提升发布流程的稳定性
  .github/workflows/release.yml
Due: none

fix: 更新 GitHub Actions create-release 到 v2 版本，修复 set-output 弃用警告 (#3)
  .github/workflows/release.yml
Due: none

fix: 修复路径解析问题，确保文件匹配模式正确
  packages/plugin/src/core/__tests__/extract.test.ts
  packages/plugin/src/core/extract.ts
Due: format, lint, typecheck

refactor: 优化 CI/CD 和发布流程，提升稳定性和执行效率 (#4)
  packages/plugin/src/core/__tests__/extract.test.ts
  packages/plugin/src/core/extract.ts
Due: format, lint, typecheck

chore: bump version to 0.0.2
  packages/plugin/package.json
Due: format

fix: update actions/create-release to v1.1.4 to fix GitHub Actions error
  .github/workflows/release.yml
Due: none

chore: remove develop branch references from CI workflow
  .github/workflows/ci.yml
Due: none

chore: bump version to 0.0.3
  packages/plugin/package.json
Due: format

chore: 统一作者名称为小写形式，更新相关文档和配置文件
  .github/workflows/release.yml
  LICENSE
  README.md
  RELEASE.md
  package.json
  packages/plugin/LICENSE
  packages/plugin/README.md
  packages/plugin/package.json
Due: format

Path conditions:
  format: any of: *.{ts,tsx,js,jsx,json,md}
  lint: any of: *.{ts,tsx}
  typecheck: any of: *.{ts,tsx}
